*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border:  gray solid 1px; */
}


.nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 1.5em;
    margin-left: 11px;
}

.nav-menu li {
    display: inline-block;
    margin-left: 44px;
    font-weight: bolder;
    margin-top: 25px;
    font-size: 15px;
}

.active {
   color: #6996da; 
}

.downarrowicon {
    vertical-align:middle;   
}

.getstartedbtnone {
    margin-right: -50px;
    height: 40px;
    color: white;
    background-color:  #6996da;
    padding: 10px 16px;
    border: none;
    border-radius: 9px;
    font-weight:700;    
    margin-top: 14px;
    margin-left: 115px;
    box-shadow: 0px 5px 6px 0px rgb(230, 228, 228);
}
.bi-arrow-right {
 margin-bottom: 1px;
}


.nav-menu-icon {
    width: 24px;
    margin-top: 11px;
    margin-left: -41px;
}    


.nav-logo img {
    width: 300px;
    height: auto;
}


.semihero-two {
    height: 78vh;
    background-color: #E1F3FF
}

.hero-content {
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: relative;
    top: 55%;
     transform: translateY(-50%);
}

.titleborder {
    border: none;
    background-color: #6996da;
    padding: 7px 16px;
    width: 24%;
    color: white;
    border-radius: 15px;
}

.hero-content-txt h1 {
    margin-top: 0.5em;
    font-size: 3.5em;
    font-weight: 600;
}

.hero-content-pargraph {
    margin-top: 2.5em;
    color: rgb(94, 94, 94);
    line-height: 30px; 
    margin-bottom: 2.5em;  
}

.getstartedbtntwo {
    height: 60px;
    color: white;
    background-color: #6996da;
    padding: 11px 31px;
    border: 1px solid #6687B8;
    border-radius: 9px;
    font-weight:700;    
    margin-top: 7px;
    box-shadow: 0px 5px 6px 0px rgb(196, 193, 193);
}

.howitworksbtn {
    height: 60px;
    color: #5780BB;
    background-color: transparent;
    padding: 11px 31px;
    border: #90B5E8 solid 1.5px;
    border-radius: 9px;
    font-weight:700;    
    margin-top: 7px;
    margin-left: 54px;   
}

.hero-content-img {
    width: 430px;
    height: 434px;
    margin-right: 2%;
}


.hero-content {
padding: 110px;
}

.hero-content-txt {
margin-bottom: 11%;
}
 /* by mistake but nice result haha  */
/* .hero {
padding: 50px;
}  */

.two {
    height: 100vh;
}

.pageTwo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 38px;
}

.contentpageTwo {
    width: 503px;
}

.imgpage-Two {
    width: auto;
    height: 550px;
}

.postSpan {
    text-align: justify;
    margin-left: 49px;
    margin-top: 2px;
}

.contentpageTwo h2, .span-name {
    font-weight: bolder;
}

.span-nameOne {
margin-left: 10px;
font-weight: bold;
}

.postSpan {
    color: #7F7F7F;
    font-size: 15px;
}


.p1-pageTwo {
    text-align: justify;
    color: #7F7F7F;
    font-size: 17px;
}

.title-paragraph {
    text-align: center;
    margin-top: 80px;
}

.title-paragraph h2 {
    font-weight: bolder;
}

.p2-pageTwo {
    color: #7F7F7F;
    font-size: 17px;
}

.pageThree {
    display: flex;
    text-align: justify;
    padding: 7%;
    gap: 7%;
    margin-left: 6%;
    margin-top: -8.5%;
}

.p1-pageThree {
    color: #7F7F7F;
    font-size: 16px;
    margin-left: 60px;
    width: 295px;
}


.span-nameTwo {
margin-left: 6%;
font-weight: bolder
}

.preFooter {
    display: flex;
    justify-content: center;
    gap: 7%;
    margin-right: 5%;
    margin-top: -1%;
}

.p2-pageThree {
    color: #7F7F7F;
    font-size: 12px;
    text-align: justify;
    margin-top: 14px;
    width: 253px;
}

.span-nameThree {
    font-weight: bold;
}

.list {
    font-weight: bold;
    line-height: 30px;
    color: #7F7F7F;
    font-size: 14px;
    padding: 0px;
    margin-top: 10px;    
}

.footer {
    background-color: #6996da;
    height: 12vh;
    margin: 0px;
    margin-top: 3%;
}
.p-footer {
    padding: 48px 0px 0px 0px;
    text-align: center;
    color: white;
}
